<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HOLA MUNDO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container-sm">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                </tr>
            </thead>
        </table>
        <tbody>
            <tr th:each="proveedores:${proveedores}">
                <td th:text="${proveedores.codigo}"></td>
                <td th:text="${proveedores.nombre}"></td>
                <td th:text="${proveedores.categoria}"></td>
                </p>
            </tr>
        </tbody>
    </div>

</body>
</html>